.error {
    text-align: center;
    font-size: 1.3rem;
}

.map {
    width: 100%;
    height: 70vh;
    position: relative;
    margin-bottom: 3rem;
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
}