
.one-col {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 2.5rem;
    margin-bottom: 6rem;
    row-gap: 1.5rem;
}

.msg {
    font-size: 1.8rem;
}