
.title {
    margin: 0;
    padding: 0;
}

.home {
    all: unset;
    position: absolute;
    top: 2rem;
    right: 4rem;
    color: rgb(113, 113, 113);
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0 0.3rem;
    padding-bottom: calc(0.3rem + 2px);
}

.home:hover {
    /* border-bottom: 2px solid rgb(113, 113, 113); */
    color: #222222;
    cursor: pointer;
}