.btn {
    background: none;
    border: 1px solid #ccc;
    padding: 0.5rem 2rem;
    width: fit-content;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    outline: inherit;
    /* border-radius: 30px; */
}

.primary {
    color: white;
    background: #df3124;
}

.btn.primary:hover {
    background: #c72a1e;
}

.plain {
    all: unset;
    color: rgb(113, 113, 113);
    font-weight: 500;
    padding: 0 0.3rem;
    padding-bottom: calc(0.3rem + 2px);
}

.btn.plain:hover {
    /* border-bottom: 2px solid rgb(113, 113, 113); */
    color: #222222;
    cursor: pointer;
}