.form {
    /* This margin is only for testing, can be deleted later */
    /* margin-bottom: 50rem; */
    margin-bottom: 3rem;
    position: relative;
}

.search {
    display: grid;
    grid-template-columns: 41% 41% 20%;
    border: 1px solid #bbb;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.input {
    background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
}

.input-long {
    background: none;
	border: 1px solid #ccc;
	border-radius: 6px;
    width: 96.5%;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
    margin: 0 0 2rem;
}

.btn-bigger {
    transform: scale(1.05);
    padding: 0.5rem 4rem
}

.btn-show-options {
    margin-top: 1.2rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.options-wrapper {
    display: flex;
    justify-content: center;
}

.btn-hide-options {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}
