.label {
    font-size: 1.5rem;
}
.label::after {
    content: ":"
}

.input {
    background: none;
	border: 1px solid #ccc;
	border-radius: 6px;
    width: 96.5%;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    font-size: 1.5rem;
    padding: 0.5rem 1.2rem;
    margin: 0.5rem 0 2rem;
    font-family: inherit;
}

.file-input {
    border: 0;
}

.img {
    margin-top: 1rem;
    margin-left: 1.5rem;
    width: 130px;
    border-radius: 50%;
    box-shadow: #df3124 0px 0px 3px 2px;
}

.hide-img {
    display: none;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin: 1rem 0 2rem;
}

.btn-wrapper .submit-btn {
    font-size: 1.3rem;
}

.btn-wrapper .submit-btn:hover {
    padding-bottom: 0.3rem;
    border-bottom: 2px solid #222222;
}